<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.skill.SkillFlowNodeCfgMapper">

  <sql id="nodeCfgColumns">
    id,
    code,
    name,
    tip,
    scene_types,
    flow_types,
    sortby,
    is_root,
    group_code,
    updated_time
  </sql>

  <select id="selectAllNodeConfigs" resultType="com.iwhalecloud.bote.dto.skill.SkillFlowNodeCfgDTO">
    SELECT
    <include refid="nodeCfgColumns"/>
    FROM bt_skill_flow_node_cfg
    WHERE status_cd = '00A'
    ORDER BY is_root DESC, group_code, sortby
  </select>
</mapper>

