<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.skill.SkillSqlManageMapper">
  <sql id="sqlColumns">
    a.service_id,
    a.data_source_id,
    a.service_code,
    a.service_name,
    a.script_sql,
    a.req_json,
    a.resp_json,
    a.result_type,
    a.catalog_item_id,
    a.tenant_id,
    a.created_time,
    a.status_cd,
    a.updated_time,
    a.creator_id,
    a.updator_id,
    a.remark
  </sql>

  <sql id="batchQueryCondition">
    AND a.status_cd = '00A'
    <if test="query.searchContent !=null and query.searchContent != ''">
      AND (
      a.service_name LIKE
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
      #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
      OR
      a.service_code LIKE
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
      #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
      )
    </if>
    <if test="query.catalogItemList != null and query.catalogItemList.size() > 0">
      AND a.catalog_item_id IN (<foreach collection="query.catalogItemList" item="catalogItemId" separator=",">#{catalogItemId}</foreach>)
    </if>
  </sql>

  <insert id="insertSkillSql">
    INSERT INTO bt_skill_sql(
    service_id,
    data_source_id,
    service_code,
    service_name,
    script_sql,
    req_json,
    resp_json,
    result_type,
    catalog_item_id,
    tenant_id,
    created_time,
    status_cd,
    updated_time,
    creator_id,
    updator_id,
    remark
    )
    VALUES (
    #{dto.serviceId},
    #{dto.dataSourceId},
    #{dto.serviceCode},
    #{dto.serviceName},
    #{dto.scriptSql},
    #{dto.reqJson},
    #{dto.respJson},
    #{dto.resultType},
    #{dto.catalogItemId},
    #{dto.tenantId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.statusCd},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.creatorId},
    #{dto.updatorId},
    #{dto.remark}
    )
  </insert>

  <update id="updateSkillSql">
    UPDATE bt_skill_sql
    <set>
      <if test="dto.checkFieldUpdateFlag('serviceCode')">
        service_code = #{dto.serviceCode},
      </if>
      <if test="dto.checkFieldUpdateFlag('dataSourceId')">
        data_source_id = #{dto.dataSourceId},
      </if>
      <if test="dto.checkFieldUpdateFlag('resultType')">
        result_type = #{dto.resultType},
      </if>
      <if test="dto.checkFieldUpdateFlag('serviceName')">
        service_name = #{dto.serviceName},
      </if>
      <if test="dto.checkFieldUpdateFlag('scriptSql')">
        script_sql = #{dto.scriptSql},
      </if>
      <if test="dto.checkFieldUpdateFlag('reqJson')">
        req_json = #{dto.reqJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('respJson')">
        resp_json = #{dto.respJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('catalogItemId')">
        catalog_item_id = #{dto.catalogItemId},
      </if>
      <if test="dto.checkFieldUpdateFlag('statusCd')">
        status_cd = #{dto.statusCd},
      </if>
      <if test="dto.remark != null">
        remark = #{dto.remark},
      </if>
      updated_time =<include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      updator_id = #{dto.updatorId}
    </set>
    WHERE service_id = #{dto.serviceId}
    AND tenant_id = #{dto.tenantId}
  </update>

  <select id="getSkillSql" resultType="com.iwhalecloud.bote.dto.skill.SkillSqlDTO">
    SELECT
    <include refid="sqlColumns"/>
    FROM bt_skill_sql a
    WHERE a.service_id = #{id}
    AND a.status_cd = '00A'
    AND a.tenant_id in (#{tenantId}, -1)
  </select>

  <select id="selectSimpleSql" resultType="com.iwhalecloud.bote.dto.skill.SkillSqlDTO">
    SELECT service_id, service_name, service_code, script_sql, data_source_id, result_type, req_json, resp_json, tenant_id
    FROM bt_skill_sql
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND service_id = #{id}
  </select>

  <select id="selectSimpleSqls" resultType="com.iwhalecloud.bote.dto.skill.SkillSqlDTO">
    SELECT service_id, service_name, service_code, script_sql, data_source_id, result_type, req_json, resp_json, tenant_id
    FROM bt_skill_sql
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND service_id IN (<foreach collection="ids" item="id" separator=",">#{id}</foreach>)
  </select>

  <select id="selectSkillSqlPage" resultType="com.iwhalecloud.bote.dto.skill.SkillSqlDTO">
    SELECT
    <include refid="sqlColumns"/>,
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.updator_id) AS "updatorName",
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.creator_id) AS "creatorName"
    FROM bt_skill_sql a
    WHERE 1=1
    <include refid="batchQueryCondition"/>
    <choose>
      <when test="query.sourceFrom == 'platform'.toString()">
        AND a.tenant_id = -1
      </when>
      <when test="query.sourceFrom == 'tenant'.toString()">
        AND a.tenant_id = #{query.tenantId}
      </when>
      <otherwise>
        AND a.tenant_id IN (#{query.tenantId}, -1)
      </otherwise>
    </choose>
    ORDER BY a.updated_time DESC
  </select>

  <update id="deleteSkillSql">
    UPDATE bt_skill_sql
    SET status_cd = '00X',
    updator_id = #{updatorId},
    updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE service_id = #{serviceId}
      AND tenant_id = #{tenantId}
  </update>

  <select id="existsSkillSqlCode" resultType="boolean">
    SELECT CASE WHEN count(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_skill_sql
    WHERE status_cd = '00A'
    AND service_code = #{dto.serviceCode}
    AND tenant_id in (#{dto.tenantId}, -1)
    <if test="dto.serviceId != null">
      AND service_id != #{dto.serviceId}
    </if>
  </select>
</mapper>
