<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.skill.SkillFunctionManageMapper">
  <sql id="functionColumns">
    a.func_id,
    a.func_code,
    a.func_name,
    a.script_json,
    a.req_json,
    a.resp_json,
    a.created_time,
    a.status_cd,
    a.updated_time,
    a.creator_id,
    a.updator_id,
    a.remark,
    a.catalog_item_id,
    a.func_type,
    a.tenant_id,
    a.py_package
  </sql>

  <sql id="batchQueryCondition">
    AND a.status_cd = '00A'
    <if test="query.searchContent != null and query.searchContent != ''">
      AND (a.func_code like
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
      #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
      OR
      a.func_name like
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
      #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
      )
    </if>
    <if test="query.catalogItemList != null and query.catalogItemList.size() > 0">
      AND a.catalog_item_id in (<foreach collection="query.catalogItemList" item="catalogItemId" separator=",">#{catalogItemId}</foreach>)
    </if>
  </sql>

  <insert id="insertSkillFunction">
    INSERT INTO bt_skill_function(
      func_id,
      func_code,
      func_name,
      func_type,
      script_json,
      req_json,
      resp_json,
      catalog_item_id,
      tenant_id,
      py_package,
      created_time,
      status_cd,
      updated_time,
      creator_id,
      updator_id,
      remark
    )
    VALUES (
       #{dto.funcId},
       #{dto.funcCode},
       #{dto.funcName},
       #{dto.funcType},
       #{dto.scriptJson},
       #{dto.reqJson},
       #{dto.respJson},
       #{dto.catalogItemId},
       #{dto.tenantId},
       #{dto.pyPackage},
       <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
       #{dto.statusCd},
       <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
       #{dto.creatorId},
       #{dto.updatorId},
       #{dto.remark}
    )
  </insert>

  <update id="updateSkillFunction">
    UPDATE bt_skill_function
    <set>
      <if test="dto.checkFieldUpdateFlag('funcCode')">
        func_code = #{dto.funcCode},
      </if>
      <if test="dto.checkFieldUpdateFlag('funcName')">
        func_name = #{dto.funcName},
      </if>
      <if test="dto.checkFieldUpdateFlag('funcType')">
        func_type = #{dto.funcType},
      </if>
      <if test="dto.checkFieldUpdateFlag('remark')">
        remark = #{dto.remark},
      </if>
      <if test="dto.checkFieldUpdateFlag('scriptJson')">
        script_json = #{dto.scriptJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('reqJson')">
        req_json = #{dto.reqJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('respJson')">
        resp_json = #{dto.respJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('statusCd')">
        status_cd = #{dto.statusCd},
      </if>
      <if test="dto.checkFieldUpdateFlag('catalogItemId')">
        catalog_item_id = #{dto.catalogItemId},
      </if>
      <if test="dto.checkFieldUpdateFlag('pyPackage')">
        py_package = #{dto.pyPackage},
      </if>
      updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      updator_id = #{dto.updatorId}
    </set>
    WHERE func_id = #{dto.funcId}
      AND tenant_id = #{dto.tenantId}
  </update>

  <select id="getSkillFunction" resultType="com.iwhalecloud.bote.dto.skill.SkillFunctionDTO">
    SELECT <include refid="functionColumns"/>
    FROM bt_skill_function a
    WHERE a.status_cd = '00A'
      AND a.func_id = #{id}
      AND a.tenant_id in (#{tenantId}, -1)
  </select>

  <select id="selectSimpleFunction" resultType="com.iwhalecloud.bote.dto.skill.SkillFunctionDTO">
    SELECT func_id, func_name, func_code, func_type, script_json, req_json, resp_json, py_package
    FROM bt_skill_function
    WHERE status_cd = '00A'
      AND tenant_id in (#{tenantId}, -1)
      AND func_id = #{id}
  </select>

  <select id="selectSimpleFunctions" resultType="com.iwhalecloud.bote.dto.skill.SkillFunctionDTO">
    SELECT func_id, func_name, func_code, func_type, script_json, req_json, resp_json, py_package
    FROM bt_skill_function
    WHERE status_cd = '00A'
      AND tenant_id in (#{tenantId}, -1)
      AND func_id IN (<foreach collection="ids" item="id" separator=",">#{id}</foreach>)
  </select>

  <select id="selectSkillFunctionPage" resultType="com.iwhalecloud.bote.dto.skill.SkillFunctionDTO">
    SELECT <include refid="functionColumns"/>,
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.updator_id) AS "updatorName",
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.creator_id) AS "creatorName"
    FROM bt_skill_function a
    WHERE 1=1
    <include refid="batchQueryCondition"/>
    <choose>
      <when test="query.sourceFrom == 'platform'.toString()">
        AND a.tenant_id = -1
      </when>
      <when test="query.sourceFrom == 'tenant'.toString()">
        AND a.tenant_id = #{query.tenantId}
      </when>
      <otherwise>
        AND a.tenant_id IN (#{query.tenantId}, -1)
      </otherwise>
    </choose>
    ORDER BY a.updated_time DESC
  </select>

  <update id="deleteSkillFunction">
    UPDATE bt_skill_function
    SET status_cd = '00X',
    updator_id = #{updatorId},
    updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE func_id = #{funcId}
      AND tenant_id = #{tenantId}
  </update>

  <select id="existsSkillFunctionCode" resultType="boolean">
    SELECT CASE WHEN count(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_skill_function
    WHERE status_cd = '00A'
    AND func_code = #{dto.funcCode}
    AND tenant_id in (#{dto.tenantId}, -1)
    <if test="dto.funcId != null">
      AND func_id != #{dto.funcId}
    </if>
  </select>

</mapper>
