<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.base.ResourceElementMapper">
  <insert id="batchInsertResourceElement">
    INSERT INTO bt_resource_element(
    resource_element_id,
    tenant_id,
    resource_type,
    resource_id,
    element_type,
    element_id,
    status_cd,
    creator_id,
    updator_id,
    created_time,
    updated_time,
    remark)
    VALUES
    <foreach collection="list" item="dto" index="index" separator=",">
      (
      #{dto.resourceElementId},
      #{dto.tenantId},
      #{dto.resourceType},
      #{dto.resourceId},
      #{dto.elementType},
      #{dto.elementId},
      #{dto.statusCd},
      #{dto.creatorId},
      #{dto.updatorId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.remark}
      )
    </foreach>
  </insert>

  <insert id="batchInsertResourceElement" databaseId="oracle">
    INSERT all
    <foreach collection="list" item="dto" index="index" separator=" ">
      INTO bt_resource_element(
      resource_element_id,
      tenant_id,
      resource_type,
      resource_id,
      element_type,
      element_id,
      status_cd,
      creator_id,
      updator_id,
      created_time,
      updated_time,
      remark
      ) VALUES (
      #{dto.resourceElementId},
      #{dto.tenantId},
      #{dto.resourceType},
      #{dto.resourceId},
      #{dto.elementType},
      #{dto.elementId},
      #{dto.statusCd},
      #{dto.creatorId},
      #{dto.updatorId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.remark}
      )
    </foreach>
    SELECT 1 FROM dual
  </insert>

  <delete id="deleteElementByResourceId">
    DELETE FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND resource_id = #{resourceId}
    <if test="elementType != null and elementType != ''">
      AND element_type = #{elementType}
    </if>
    <if test="elementId != null">
      AND element_id = #{elementId}
    </if>
  </delete>

  <select id="selectResourceElement" resultType="com.iwhalecloud.bote.dto.base.ResourceElementDTO">
    SELECT
      resource_type,
      resource_id,
      element_type,
      element_id
    FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
  </select>

  <select id="selectSimpleElement" resultType="com.iwhalecloud.bote.dto.base.SimpleElementDTO">
    SELECT
    a.element_id AS id,
    a.element_type AS type,
    (CASE
      WHEN a.element_type = 'bt_label' THEN (SELECT b.label_name FROM bt_label b where a.tenant_id = b.tenant_id and a.element_id = b.label_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'catalog' THEN (SELECT b.catalog_name FROM bt_catalog b where a.tenant_id = b.tenant_id and a.element_id = b.catalog_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'data_source' THEN (SELECT b.data_source_name from bt_data_source b where a.tenant_id = b.tenant_id and a.element_id = b.data_source_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'service_platform' THEN (SELECT b.platform_name from bt_service_platform b where a.tenant_id = b.tenant_id and a.element_id = b.platform_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'library_large_model' THEN (SELECT b.model_name from bt_library_large_model b where a.tenant_id = b.tenant_id and a.element_id = b.model_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'copilot_point' THEN (SELECT b.point_name from bt_copilot_point b where a.tenant_id = b.tenant_id and a.element_id = b.point_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'prompt' THEN (SELECT b.name from bt_prompt_basic b where a.tenant_id = b.space_id and a.element_id = b.id AND (b.deleted_at = 0 OR b.deleted_at IS NULL) <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'page_file_info' THEN (SELECT b.file_name from bt_file_info b where a.tenant_id = b.tenant_id and a.element_id = b.file_info_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_mcp' THEN (SELECT b.server_name from bt_mcp_server b where a.tenant_id = b.tenant_id and a.element_id = b.server_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'a2a_agent' THEN (SELECT b.agent_name from bt_a2a_agent b where a.tenant_id = b.tenant_id and a.element_id = b.agent_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'a2a_platform' THEN (SELECT b.platform_name from bt_a2a_platform b where a.tenant_id = b.tenant_id and a.element_id = b.platform_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'agent_skill' THEN (SELECT b.skill_name from bt_agent_skill b where a.tenant_id = b.tenant_id and a.element_id = b.skill_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'agent_skill_file' THEN (SELECT b.file_name from bt_file_info b where a.tenant_id = b.tenant_id and a.element_id = b.file_info_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_sql' THEN (SELECT b.service_name from bt_skill_sql b where a.tenant_id = b.tenant_id and a.element_id = b.service_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_page' THEN (SELECT b.page_name from bt_skill_page b where a.tenant_id = b.tenant_id and a.element_id = b.page_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_page_func' THEN (SELECT b.func_name from bt_skill_page_func b where a.tenant_id = b.tenant_id and a.element_id = b.page_func_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_plugin' THEN (SELECT b.api_name from bt_skill_plugin b where a.tenant_id = b.tenant_id and a.element_id = b.api_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_attr_spec' THEN (SELECT b.attr_name from bt_skill_attr_spec b where a.tenant_id = b.tenant_id and a.element_id = b.attr_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_function' THEN (SELECT b.func_name from bt_skill_function b where a.tenant_id = b.tenant_id and a.element_id = b.func_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_flow' THEN (SELECT b.flow_name from bt_skill_flow b where a.tenant_id = b.tenant_id and a.element_id = b.flow_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'skill_service' THEN (select b.service_name from bt_skill_service b where a.tenant_id = b.tenant_id and a.element_id = b.service_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'corpus' THEN (select b.corpus_name from bt_corpus_info b where a.tenant_id = b.tenant_id and a.element_id = b.corpus_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'document_file_info' THEN (select b.file_name from bt_file_info b where a.tenant_id = b.tenant_id and a.element_id = b.file_info_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'knowledge_base' THEN (select b.knowledge_name from bt_knowledge_base b where a.tenant_id = b.tenant_id and a.element_id = b.knowledge_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'bot_scene' THEN (select b.scene_name from bt_bot_scene b where a.tenant_id = b.tenant_id and a.element_id = b.scene_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'bot_base' THEN (select b.bot_name from bt_bot b where a.tenant_id = b.tenant_id and a.element_id = b.bot_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'bot_user_experience' THEN (select COALESCE(title, content) from bt_bot_user_experience b where a.tenant_id = b.tenant_id and a.element_id = b.experience_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'tenant_setting_info' THEN (select b.func_type from bt_tenant_setting_info b where a.tenant_id = b.tenant_id and a.element_id = b.setting_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'chat_theme' THEN (select b.theme_name from bt_chat_theme b where a.tenant_id = b.tenant_id and a.element_id = b.id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'data_table' THEN (select b.table_name from bt_data_table b where a.tenant_id = b.tenant_id and a.element_id = b.table_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
      WHEN a.element_type = 'env_variable' THEN (select b.variable_name from bt_env_variable b where a.tenant_id = b.tenant_id and a.element_id = b.variable_id <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_and_limit"/> 1)
    ELSE '' END) AS name
    FROM bt_resource_element a
    WHERE status_cd = '00A'
      AND resource_type = #{resourceType}
      AND resource_id IN <foreach collection="resourceIds" item="id" separator="," open="(" close=")">#{id}</foreach>
      AND tenant_id = #{tenantId}
  </select>

  <select id="existsRelatedResource" resultType="java.lang.Boolean">
    SELECT CASE WHEN count(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND element_type = #{elementType}
      AND element_id = #{elementId}
  </select>

  <update id="updateElementByResourceId">
    UPDATE bt_resource_element
    SET element_id = #{newElementId}
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND resource_id = #{resourceId}
      AND element_type = #{elementType}
      AND element_id = #{elementId}
  </update>

  <select id="selectElementByResourceId" resultType="com.iwhalecloud.bote.dto.base.ResourceElementDTO">
    SELECT
      element_id,
      element_type
    FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND resource_id = #{resourceId}
      AND resource_type = #{resourceType}
  </select>

  <select id="selectResourceByElementId" resultType="com.iwhalecloud.bote.dto.base.ResourceElementDTO">
    SELECT
      resource_id,
      resource_type
    FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND element_id = #{elementId}
      AND element_type = #{elementType}
  </select>

  <select id="existsByResourceId" resultType="boolean">
    SELECT CASE WHEN COUNT(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_resource_element
    WHERE status_cd = '00A'
      AND tenant_id = #{tenantId}
      AND resource_type = #{resourceType}
      AND resource_id = #{resourceId}
  </select>
</mapper>
