<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.plugin.PluginManageMapper">

  <sql id="pluginColumns">
    a.plugin_id,
    a.tenant_id,
    a.plugin_name,
    a.plugin_code,
    a.plugin_desc,
    a.plugin_icon,
    a.req_json,
    a.response_json,
    a.plugin_detail,
    a.plugin_status,
    a.catalog_item_id,
    a.model_type,
    a.need_model,
    a.created_time,
    a.status_cd,
    a.updated_time,
    a.creator_id,
    a.updator_id,
    a.remark
  </sql>

  <sql id="batchQueryCondition">
    AND a.status_cd = '00A'
    <if test="query.searchContent != null and query.searchContent != ''">
      AND a.plugin_name LIKE
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
        #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    <if test="query.catalogItemId != null">
      AND a.catalog_item_id = #{query.catalogItemId}
    </if>
    <if test="query.configFlag != null and query.configFlag != '' and query.configFlag == 'T'.toString()">
      AND a.plugin_status = '1'
    </if>
    <if test="query.pluginStatus != null and query.pluginStatus != ''">
      AND a.plugin_status = #{query.pluginStatus}
    </if>
    <choose>
      <when test="query.sourceFrom == 'platform'.toString()">
        AND a.tenant_id = -1
      </when>
      <when test="query.sourceFrom == 'tenant'.toString()">
        AND a.tenant_id = #{query.tenantId}
      </when>
      <otherwise>
        AND a.tenant_id IN (#{query.tenantId}, -1)
      </otherwise>
    </choose>
  </sql>

  <select id="existsPluginCode" resultType="boolean">
    SELECT CASE WHEN count(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_plugin
    WHERE status_cd = '00A'
    AND plugin_code = #{dto.pluginCode}
    AND tenant_id in (#{dto.tenantId}, -1)
    <if test="dto.pluginId != null">
      AND plugin_id != #{dto.pluginId}
    </if>
  </select>

  <select id="getPlugin" resultType="com.iwhalecloud.bote.dto.plugin.PluginDTO">
    SELECT
    <include refid="pluginColumns"/>
    FROM bt_plugin a
    WHERE status_cd = '00A'
      AND tenant_id IN (#{tenantId}, -1)
      AND plugin_id = #{id}
  </select>

  <insert id="insertPlugin">
    INSERT INTO bt_plugin (
    plugin_id,
    tenant_id,
    plugin_name,
    plugin_code,
    plugin_desc,
    plugin_icon,
    req_json,
    response_json,
    plugin_detail,
    plugin_status,
    model_type,
    need_model,
    catalog_item_id,
    created_time,
    status_cd,
    updated_time,
    creator_id,
    updator_id,
    remark
    ) VALUES (
    #{dto.pluginId},
    #{dto.tenantId},
    #{dto.pluginName},
    #{dto.pluginCode},
    #{dto.pluginDesc},
    #{dto.pluginIcon},
    #{dto.reqJson},
    #{dto.responseJson},
    #{dto.pluginDetail},
    #{dto.pluginStatus},
    #{dto.modelType},
    #{dto.needModel},
    #{dto.catalogItemId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.statusCd},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.creatorId},
    #{dto.updatorId},
    #{dto.remark}
    )
  </insert>

  <insert id="batchInsertPlugin">
    INSERT INTO bt_plugin (
    plugin_id,
    tenant_id,
    plugin_name,
    plugin_code,
    plugin_desc,
    plugin_icon,
    req_json,
    response_json,
    plugin_detail,
    plugin_status,
    model_type,
    need_model,
    catalog_item_id,
    created_time,
    status_cd,
    updated_time,
    creator_id,
    updator_id,
    remark
    ) VALUES
    <foreach collection="list" item="dto" index="index" separator=", ">
      (
      #{dto.pluginId},
      #{dto.tenantId},
      #{dto.pluginName},
      #{dto.pluginCode},
      #{dto.pluginDesc},
      #{dto.pluginIcon},
      #{dto.reqJson},
      #{dto.responseJson},
      #{dto.pluginDetail},
      #{dto.pluginStatus},
      #{dto.modelType},
      #{dto.needModel},
      #{dto.catalogItemId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.statusCd},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.creatorId},
      #{dto.updatorId},
      #{dto.remark}
      )
    </foreach>
  </insert>

  <insert id="batchInsertPlugin" databaseId="oracle">
    INSERT ALL
    <foreach collection="list" item="dto" index="index" separator=" ">
      INTO bt_plugin (
      plugin_id,
      tenant_id,
      plugin_name,
      plugin_code,
      plugin_desc,
      plugin_icon,
      req_json,
      response_json,
      plugin_detail,
      plugin_status,
      model_type,
      need_model,
      catalog_item_id,
      created_time,
      status_cd,
      updated_time,
      creator_id,
      updator_id,
      remark
      ) VALUES (
      #{dto.pluginId},
      #{dto.tenantId},
      #{dto.pluginName},
      #{dto.pluginCode},
      #{dto.pluginDesc},
      #{dto.pluginIcon},
      #{dto.reqJson},
      #{dto.responseJson},
      #{dto.pluginDetail},
      #{dto.pluginStatus},
      #{dto.modelType},
      #{dto.needModel},
      #{dto.catalogItemId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.statusCd},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.creatorId},
      #{dto.updatorId},
      #{dto.remark}
      )
    </foreach>
    SELECT 1 FROM dual
  </insert>

  <update id="updatePlugin">
    UPDATE bt_plugin
    <set>
      <if test="dto.checkFieldUpdateFlag('pluginId')">
        plugin_id = #{dto.pluginId},
      </if>
      <if test="dto.checkFieldUpdateFlag('tenantId')">
        tenant_id = #{dto.tenantId},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginName')">
        plugin_name = #{dto.pluginName},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginDesc')">
        plugin_desc = #{dto.pluginDesc},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginIcon')">
        plugin_icon = #{dto.pluginIcon},
      </if>
      <if test="dto.checkFieldUpdateFlag('reqJson')">
        req_json = #{dto.reqJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('responseJson')">
        response_json = #{dto.responseJson},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginStatus')">
        plugin_status = #{dto.pluginStatus},
      </if>
      <if test="dto.checkFieldUpdateFlag('catalogItemId')">
        catalog_item_id = #{dto.catalogItemId},
      </if>
      <if test="dto.checkFieldUpdateFlag('statusCd')">
        status_cd = #{dto.statusCd},
      </if>
      <if test="dto.checkFieldUpdateFlag('creatorId')">
        creator_id = #{dto.creatorId},
      </if>
      <if test="dto.checkFieldUpdateFlag('updatorId')">
        updator_id = #{dto.updatorId},
      </if>
      <if test="dto.checkFieldUpdateFlag('remark')">
        remark = #{dto.remark},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginCode')">
        plugin_code = #{dto.pluginCode},
      </if>
      <if test="dto.checkFieldUpdateFlag('pluginDetail')">
        plugin_detail = #{dto.pluginDetail},
      </if>
      <if test="dto.checkFieldUpdateFlag('modelType')">
        model_type = #{dto.modelType},
      </if>
      <if test="dto.checkFieldUpdateFlag('needModel')">
        need_model = #{dto.needModel},
      </if>
      updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    </set>
    WHERE plugin_id = #{dto.pluginId}
  </update>

  <update id="deletePlugin">
    UPDATE bt_plugin
    SET status_cd = '00X',
    updator_id = #{updatorId},
    updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE plugin_id = #{pluginId}
  </update>

  <select id="selectPluginsByIds" resultType="com.iwhalecloud.bote.dto.plugin.PluginDTO">
    SELECT plugin_id, plugin_code, plugin_name
    FROM bt_plugin
    WHERE status_cd = '00A'
      AND tenant_id IN (#{tenantId}, -1)
      AND plugin_id IN (<foreach collection="pluginIds" item="id" separator=",">#{id}</foreach>)
  </select>

  <select id="selectPluginList" resultType="com.iwhalecloud.bote.dto.plugin.PluginDTO">
    SELECT
    <include refid="pluginColumns"/>
    FROM bt_plugin a
    WHERE 1=1
    <include refid="batchQueryCondition"/>
  </select>

  <select id="selectPluginPage" resultType="com.iwhalecloud.bote.dto.plugin.PluginDTO">
    SELECT
    <include refid="pluginColumns"/>,
    CASE WHEN a.tenant_id = -1 THEN 'platform' ELSE 'tenant' END AS source_from, u.real_name AS "creatorName",
    u.user_name AS "userCode", u1.real_name AS "updatorName", c.catalog_name AS "catalogName"
    FROM bt_plugin a
    LEFT JOIN bt_user u ON u.user_id = a.creator_id
    LEFT JOIN bt_user u1 ON u1.user_id = a.updator_id
    LEFT JOIN bt_catalog c ON c.catalog_id = a.catalog_item_id AND c.tenant_id in (-1, #{query.tenantId})
    WHERE 1=1
    <include refid="batchQueryCondition"/>
    ORDER BY a.updated_time DESC
  </select>

</mapper>
