<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.doc.module.knowledge.mapper.CorpusInfoManageMapper">

  <sql id="corpusInfoColumns">
    a.corpus_id,
    a.corpus_name,
    a.tenant_id,
    a.operate_type,
    a.status_cd,
    a.creator_id,
    a.created_time,
    a.updator_id,
    a.updated_time,
    a.remark,
    a.catalog_item_id
  </sql>

  <sql id="batchQueryCondition">
    AND a.status_cd = '00A'
    AND a.tenant_id = #{query.tenantId}
    <if test="query.searchContent != null and query.searchContent != ''">
      AND a.corpus_name LIKE
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>
        #{query.searchContent}
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    <if test="query.corpusType != null and query.corpusType != ''">
      AND a.operate_type = #{query.corpusType}
    </if>
    <if test="query.catalogItemList != null and query.catalogItemList.size() > 0">
      AND a.catalog_item_id IN (<foreach collection="query.catalogItemList" item="catalogItemId" separator=",">#{catalogItemId}</foreach>)
    </if>
    <choose>
      <when test="query.sort == 'asc'.toString()">
        ORDER BY a.created_time ASC
      </when>
      <otherwise>
        ORDER BY a.created_time DESC
      </otherwise>
    </choose>
  </sql>

  <select id="existsCorpusInfoCode" resultType="boolean">
    SELECT CASE WHEN count(*) &gt; 0 THEN 1 ELSE 0 END AS existence
    FROM bt_corpus_info
    WHERE status_cd = '00A'
    AND corpus_name = #{dto.corpusName}
    AND tenant_id = #{dto.tenantId}
    <if test="dto.corpusId != null">
      AND corpus_id != #{dto.corpusId}
    </if>
  </select>

  <select id="getCorpusInfo" resultType="com.iwhalecloud.bote.dto.knowledge.CorpusInfoDTO">
    SELECT
    <include refid="corpusInfoColumns"/>
    FROM bt_corpus_info a
    WHERE corpus_id = #{id}
    AND status_cd = '00A'
    AND tenant_id = #{tenantId}
  </select>

  <insert id="insertCorpusInfo">
    INSERT INTO bt_corpus_info (
    corpus_id,
    corpus_name,
    tenant_id,
    operate_type,
    status_cd,
    creator_id,
    created_time,
    updator_id,
    updated_time,
    remark,
    catalog_item_id
    ) VALUES (
    #{dto.corpusId},
    #{dto.corpusName},
    #{dto.tenantId},
    #{dto.operateType},
    #{dto.statusCd},
    #{dto.creatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.updatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.remark},
    #{dto.catalogItemId}
    )
  </insert>

  <insert id="batchInsertCorpusInfo">
    INSERT INTO bt_corpus_info (
    corpus_id,
    corpus_name,
    tenant_id,
    operate_type,
    status_cd,
    creator_id,
    created_time,
    updator_id,
    updated_time,
    remark,
    catalog_item_id
    ) VALUES
    <foreach collection="list" item="dto" index="index" separator=", ">
    (
    #{dto.corpusId},
    #{dto.corpusName},
    #{dto.tenantId},
    #{dto.operateType},
    #{dto.statusCd},
    #{dto.creatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.updatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.remark},
    #{dto.catalogItemId}
    )
    </foreach>
  </insert>

  <insert id="batchInsertCorpusInfo" databaseId="oracle">
    INSERT ALL
    <foreach collection="list" item="dto" index="index" separator=" ">
      INTO bt_corpus_info (
      corpus_id,
      corpus_name,
      tenant_id,
      operate_type,
      status_cd,
      creator_id,
      created_time,
      updator_id,
      updated_time,
      remark,
      catalog_item_id
      ) VALUES (
      #{dto.corpusId},
      #{dto.corpusName},
      #{dto.tenantId},
      #{dto.operateType},
      #{dto.statusCd},
      #{dto.creatorId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.updatorId},
      <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
      #{dto.remark},
      #{dto.catalogItemId}
      )
    </foreach>
    SELECT 1 FROM dual
  </insert>

  <update id="updateCorpusInfo">
    UPDATE bt_corpus_info
    <set>
    <if test="dto.checkFieldUpdateFlag('corpusId')">
      corpus_id = #{dto.corpusId},
    </if>
    <if test="dto.checkFieldUpdateFlag('corpusName')">
      corpus_name = #{dto.corpusName},
    </if>
    <if test="dto.checkFieldUpdateFlag('tenantId')">
      tenant_id = #{dto.tenantId},
    </if>
    <if test="dto.checkFieldUpdateFlag('statusCd')">
      status_cd = #{dto.statusCd},
    </if>
    <if test="dto.checkFieldUpdateFlag('creatorId')">
      creator_id = #{dto.creatorId},
    </if>
    <if test="dto.checkFieldUpdateFlag('updatorId')">
      updator_id = #{dto.updatorId},
    </if>
    <if test="dto.checkFieldUpdateFlag('operateType')">
      operate_type = #{dto.operateType},
    </if>
    updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    <if test="dto.checkFieldUpdateFlag('remark')">
      remark = #{dto.remark},
    </if>
    <if test="dto.checkFieldUpdateFlag('catalogItemId')">
      catalog_item_id = #{dto.catalogItemId},
    </if>
    </set>
    WHERE corpus_id = #{dto.corpusId}
  </update>

  <update id="deleteCorpusInfo">
    UPDATE bt_corpus_info
    SET status_cd = '00X',
    updator_id = #{updatorId},
    updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE corpus_id = #{corpusId}
    AND tenant_id = #{tenantId}
  </update>

  <select id="selectCorpusInfoList" resultType="com.iwhalecloud.bote.dto.knowledge.CorpusInfoDTO">
    SELECT
    <include refid="corpusInfoColumns"/>,
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.creator_id) AS "creatorName",
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.updator_id) AS "updatorName"
    FROM bt_corpus_info a
    WHERE 1=1
    <include refid="batchQueryCondition"/>
  </select>

  <select id="selectCorpusInfoPage" resultType="com.iwhalecloud.bote.dto.knowledge.CorpusInfoDTO">
    SELECT
    <include refid="corpusInfoColumns"/>,
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.creator_id) AS "creatorName",
    (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.updator_id) AS "updatorName"
    FROM bt_corpus_info a
    WHERE 1=1
    <include refid="batchQueryCondition"/>
  </select>

  <update id="updateCorpusInfoTime">
    UPDATE bt_corpus_info
    SET updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
        updator_id = #{updatorId}
    WHERE corpus_id = #{corpusId}
    AND tenant_id = #{tenantId}
  </update>

</mapper>
