<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.doc.module.knowledge.mapper.WeKnoraModelRelMapper">

  <sql id="weknoraModelRelColumns">
    rel_id,
    bote_model_id,
    weknora_model_id,
    tenant_id,
    status_cd,
    created_time,
    updated_time,
    creator_id,
    updator_id,
    remark
  </sql>

  <insert id="insertWeKnoraModelRel">
    INSERT INTO bt_weknora_model_rel (
    rel_id,
    bote_model_id,
    weknora_model_id,
    tenant_id,
    status_cd,
    created_time,
    updated_time,
    creator_id,
    updator_id,
    remark)
    VALUES
    (
     #{dto.relId},
     #{dto.boteModelId},
     #{dto.weknoraModelId},
     #{dto.tenantId},
     #{dto.statusCd},
     <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
     <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
     #{dto.creatorId},
     #{dto.updatorId},
     #{dto.remark}
    )
  </insert>

  <select id="getWeKnoraModelRelByBoteModelId" resultType="com.iwhalecloud.bote.doc.module.knowledge.dto.WeknoraModelRelDTO">
    SELECT
    <include refid="weknoraModelRelColumns"/>
    FROM bt_weknora_model_rel
    WHERE status_cd = '00A'
    AND bote_model_id = #{boteModelId}
    AND tenant_id = #{tenantId}
  </select>

  <select id="getModelById" resultType="com.iwhalecloud.bote.doc.module.knowledge.dto.BoteModelDTO">
    SELECT model_code, model_name, access_url, access_key, model_desc, model_type
    FROM bt_library_large_model
    WHERE status_cd = '00A'
    AND model_id =#{modelId}
    AND tenant_id in (#{tenantId}, -1)
  </select>

  <select id="getTenantDefaultModel" resultType="java.lang.String">
    SELECT setting_info
    FROM bt_tenant_setting_info
    WHERE status_cd = '00A'
    AND tenant_id = #{tenantId}
    AND func_type = 'default_large_model'
  </select>
</mapper>
