<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.bote.mapper.app.WorkbenchAppMapper">

  <sql id="workbenchAppColumns">
    a.workbench_app_id,
    a.space_id,
    a.app_name,
    a.app_desc,
    a.app_icon,
    a.app_scene,
    a.app_status,
    a.app_setting_status,
    a.auth_type,
    a.catalog_item_id,
    a.status_cd,
    a.creator_id,
    a.created_time,
    a.updator_id,
    a.updated_time,
    a.remark
  </sql>

  <insert id="insertWorkbenchApp">
    INSERT INTO bt_workbench_app (
    workbench_app_id,
    space_id,
    app_name,
    app_desc,
    app_icon,
    app_scene,
    app_status,
    app_setting_status,
    auth_type,
    catalog_item_id,
    status_cd,
    creator_id,
    created_time,
    updator_id,
    updated_time,
    remark
    ) VALUES (
    #{dto.workbenchAppId},
    #{dto.spaceId},
    #{dto.appName},
    #{dto.appDesc},
    #{dto.appIcon},
    #{dto.appScene},
    #{dto.appStatus},
    #{dto.appSettingStatus},
    #{dto.authType},
    #{dto.catalogItemId},
    #{dto.statusCd},
    #{dto.creatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.updatorId},
    <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>,
    #{dto.remark}
    )
  </insert>

  <update id="updateWorkbenchApp">
    UPDATE bt_workbench_app
    <set>
      <if test="dto.appName != null and dto.appName != ''">
        app_name = #{dto.appName},
      </if>
      <if test="dto.appDesc != null and dto.appDesc != ''">
        app_desc = #{dto.appDesc},
      </if>
      <if test="dto.appIcon != null and dto.appIcon != ''">
        app_icon = #{dto.appIcon},
      </if>
      <if test="dto.checkFieldUpdateFlag('catalogItemId')">
        catalog_item_id = #{dto.catalogItemId},
      </if>
      updator_id = #{dto.updatorId},
      updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    </set>
    WHERE workbench_app_id = #{dto.workbenchAppId}
      AND space_id = #{dto.spaceId}
  </update>

  <select id="selectWorkbenchApp" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT <include refid="workbenchAppColumns"/>
    FROM bt_workbench_app a
    WHERE a.status_cd = '00A'
      AND a.workbench_app_id = #{workbenchAppId}
      AND a.space_id = #{spaceId}
  </select>

  <update id="deleteWorkbenchApp">
    UPDATE bt_workbench_app
    SET status_cd = '00X',
        updator_id = #{updatorId},
        updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </update>

  <select id="selectWorkbenchAppPage" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT a.workbench_app_id, a.app_name, a.auth_type, a.app_scene, a.app_status, a.app_setting_status,
           a.created_time, a.updated_time, a.app_desc,
        (SELECT u.real_name FROM bt_user u WHERE u.user_id = a.creator_id) AS creatorName
    FROM bt_workbench_app a
    WHERE a.status_cd = '00A'
      AND a.space_id = #{query.spaceId}
    <if test="query.appName != null and query.appName != ''">
      AND a.app_name LIKE <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>#{query.appName}<include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    <if test="query.appStatus != null and query.appStatus != ''">
      AND a.app_status = #{query.appStatus}
    </if>
    <if test="query.appScene != null and query.appScene != ''">
      AND a.app_scene = #{query.appScene}
    </if>
    <if test="query.catalogItemId != null">
      AND a.catalog_item_id = #{query.catalogItemId}
    </if>
    ORDER BY a.updated_time DESC
  </select>

  <update id="updateWorkbenchAppStatus">
    UPDATE bt_workbench_app
    SET app_status = #{dto.appStatus},
      updator_id = #{dto.updatorId},
      updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    WHERE status_cd = '00A'
      AND workbench_app_id = #{dto.workbenchAppId}
      AND space_id = #{dto.spaceId}
  </update>

  <select id="getAppSettingStatus" resultType="java.lang.String">
    SELECT app_setting_status
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </select>

  <select id="selectAppSetting" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT workbench_app_id, app_name, app_scene, auth_type, space_id
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </select>

  <update id="updateAppSettingInfo">
    UPDATE bt_workbench_app
    <set>
      <if test="dto.appScene != null and dto.appScene != ''">
        app_scene = #{dto.appScene},
      </if>
      <if test="dto.authType != null and dto.authType != ''">
        auth_type = #{dto.authType},
      </if>
      <if test="dto.appSettingStatus != null and dto.appSettingStatus != ''">
        app_setting_status = #{dto.appSettingStatus},
      </if>
      updator_id = #{dto.updatorId},
      updated_time = <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.func_now"/>
    </set>
    WHERE status_cd = '00A'
      AND workbench_app_id = #{dto.workbenchAppId}
      AND space_id = #{dto.spaceId}
  </update>

  <select id="selectWorkbenchAppIcon" resultType="java.lang.String">
    SELECT app_icon
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </select>

  <select id="getAppStatus" resultType="java.lang.String">
    SELECT app_status
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </select>

  <select id="selectAppBasicInfo" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT workbench_app_id, app_name, app_status, auth_type, app_scene
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND workbench_app_id = #{workbenchAppId}
      AND space_id = #{spaceId}
  </select>

  <select id="selectAppBasicInfoList" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT workbench_app_id, app_name, app_status, auth_type, app_scene
    FROM bt_workbench_app
    WHERE status_cd = '00A'
      AND space_id = #{spaceId}
      AND workbench_app_id IN (<foreach collection="appIdList" item="appId" separator=", ">#{appId}</foreach> )
  </select>

  <select id="selectAuthWorkbenchAppPage" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT au.workbench_app_id, wa.app_name, wa.app_desc, wa.app_scene, MAX(au.updated_time) as updated_time
    FROM bt_workbench_app_auth au
    LEFT JOIN bt_workbench_app wa ON wa.workbench_app_id = au.workbench_app_id AND wa.status_cd = '00A'
    LEFT JOIN bt_organization o ON o.org_id = au.org_id AND o.status_cd = '00A'
    WHERE au.status_cd = '00A'
      AND au.space_id = #{query.spaceId}
      AND wa.app_status = 'A'
      AND (au.user_id IN (#{query.userId}, -1)
        <if test="query.orgIdList != null and query.orgIdList.size() > 0">
          OR au.org_id IN (<foreach collection="query.orgIdList" item="orgId" separator=",">#{orgId}</foreach>)
        </if>
      )
    <if test="query.catalogItemId != null">
      AND wa.catalog_item_id = #{query.catalogItemId}
    </if>
    <if test="query.appName != null and query.appName != ''">
      AND wa.app_name LIKE <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>#{query.appName}<include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    GROUP BY au.workbench_app_id, wa.app_name, wa.app_desc, wa.app_scene
    ORDER BY updated_time DESC
  </select>

  <select id="selectAuthWorkbenchAppDetail" resultType="com.iwhalecloud.bote.dto.app.WorkbenchAppDTO">
    SELECT <include refid="workbenchAppColumns"/>,
      u.real_name AS creatorName,
      (SELECT catalog_name FROM bt_catalog bc WHERE bc.catalog_id = a.catalog_item_id) AS catalogName
    FROM bt_workbench_app a
    LEFT JOIN bt_user u ON u.user_id = a.creator_id
    WHERE a.status_cd = '00A'
      AND a.workbench_app_id = #{workbenchAppId}
      AND a.space_id = #{spaceId}
  </select>

  <select id="selectAuthBot" resultType="com.iwhalecloud.bote.dto.bot.SimpleBotDTO">
    SELECT DISTINCT c.bot_id, c.tenant_id, c.bot_name, c.bot_use, c.updated_time
    FROM bt_workbench_app a
    LEFT JOIN bt_workbench_app_rel b ON a.workbench_app_id = b.workbench_app_id
    LEFT JOIN bt_bot c ON b.rel_app_id = c.bot_id AND b.tenant_id = c.tenant_id AND rel_app_type = 'aiBot'
    LEFT JOIN bt_workbench_app_auth d ON a.workbench_app_id = d.workbench_app_id
    LEFT JOIN bt_organization o ON o.org_id = d.org_id
    WHERE a.status_cd = '00A'
      AND b.status_cd = '00A'
      AND c.status_cd = '00A'
      AND d.status_cd = '00A'
      AND a.app_status = 'A'
      AND a.space_id = #{query.spaceId}
      AND (d.user_id IN (#{query.userId}, -1)
      <if test="query.orgIds != null and query.orgIds.size() > 0">
        OR d.org_id IN (<foreach collection="query.orgIds" item="orgId" separator=",">#{orgId}</foreach>)
      </if>
      )
    <if test="query.searchContent != null and query.searchContent != ''">
      AND c.bot_name LIKE <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>#{query.searchContent}<include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    ORDER BY c.updated_time DESC
  </select>

  <select id="selectAuthWeb" resultType="com.iwhalecloud.bote.dto.app.SimpleWebAppDTO">
    SELECT DISTINCT c.web_app_id, c.space_id, c.app_name, c.open_type, c.access_url, c.auth_type, c.updated_time
    FROM bt_workbench_app a
    LEFT JOIN bt_workbench_app_rel b ON a.workbench_app_id = b.workbench_app_id
    LEFT JOIN bt_web_app c ON b.rel_app_id = c.web_app_id AND b.space_id = c.space_id AND rel_app_type = 'webApp'
    LEFT JOIN bt_workbench_app_auth d ON a.workbench_app_id = d.workbench_app_id
    LEFT JOIN bt_organization o ON o.org_id = d.org_id
    WHERE a.status_cd = '00A'
      AND b.status_cd = '00A'
      AND c.status_cd = '00A'
      AND d.status_cd = '00A'
      AND a.app_status = 'A'
      AND a.space_id = #{query.spaceId}
      AND (d.user_id IN (#{query.userId}, -1)
      <if test="query.orgIds != null and query.orgIds.size() > 0">
        OR d.org_id IN (<foreach collection="query.orgIds" item="orgId" separator=",">#{orgId}</foreach>)
      </if>
      )
    <if test="query.searchContent != null and query.searchContent != ''">
      AND c.app_name LIKE <include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-left"/>#{query.searchContent}<include refid="com.iwhalecloud.bss.litchi.mybatis.mapper.SqlFragments.like-right"/>
    </if>
    ORDER BY c.updated_time DESC
  </select>
</mapper>
